/* http://tobiasahlin.com/moving-letters/# */
body {
  font-family: 'Raleway', sans-serif;
/*   color:#fff; */
  color:#000000;
/*   background: #232323; */
  padding: 6px;
}

h1{
  margin-bottom: 0px;
  margin-top:10px;
}


.ml12 {
  font-weight: 500;
  font-size: 6em;
  ltext-transform: uppercase;
  letter-spacing: 0.1em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
  word-wrap: break-word;
}


.ml13 {
  font-weight: 300;
  font-size: 3.5em;
  ltext-transform: uppercase;
  letter-spacing: 0.1em;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
  word-wrap: break-word;
}


.ml14 {
  font-weight: 300;
  font-size: 3.5em;
  ltext-transform: uppercase;
  letter-spacing: 0.1em;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
  word-wrap: break-word;
}
